<h1>Create a New List</h1>
<br/>

<%= form_for @list do |f| %>
	<%= f.label :task %>
	<%= f.text_field :task %>

	<%= f.label :description %>
	<%= f.text_field :description %>

	<%= f.label :complete %>
	<%= f.check_box :complete %>
	<%= f.submit %>
<% end %>
